page-task {
    .treatImages ion-row {
        width: 93% !important;
    }
    .treatImages ion-col {
        padding: 0;
        width: 22%;
        height: 22vw;
        margin-right: 3%;
    }
    .treatImages ion-col .plus {
        width: 100%;
        height: 100%;
    }
}